.retrato{
    width: 20%;
}

.imgparalax{
    min-height: 100vh;
}

.imgcartao{
    max-height: 251px;
    min-height: 251px;
}

.fundo-1{
    background-color: #aabbcc;
}

p{
    font-size: 100%;
    line-height: 1.5;
}

.page-footer{
  background-color: #3B3738;
}

.nav-wrapper{
    background-color: #3B3738;
}

span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

span.spacer {
   padding:0 5px;
}

.game{
  font-family: 'Press Start 2P', cursive;
}

.work{
  font-family: 'Source Code Pro', monospace;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
}